*{
  margin: 0;
  padding: 0;
}

html,body{
  height: 100%;
}


.page-container{
  position: relative;
  height: 100%;
}

.page-video-bg{
  height: 100%;
}

.page-video-bg video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
}
.header-logo{
  position: absolute;
  height: 100%;
  left: 80px;
  top: 40px;
}
.header-a nav{
  position: absolute;
  right: 150px;
  top: 50px;
  text-align: right;
}
.header-a nav a{
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
}
.slogan{
  margin-top: 280px;
  margin-right: 130px;
  text-align: right;
}
.slogan img{
  width: 450px;
  margin-bottom: 50px;
}
.page-a .appstore{
     margin-top: 10px;
     margin-right: 370px;
     text-align: right;
}
.page-a .appstore img{
  width: 130px;
}
.btn-hover-appstore:hover{
  opacity: 0.8;
}
.page-a .android{
    position: absolute;
     right: 220px;
     bottom: 185px;
     text-align: right;
}
.page-a .android img{
  width: 130px;
}
.btn-hover-android:hover{
  opacity: 0.8;
}
.page-a .QRcode{
    position: absolute;
     right: 150px;
     bottom: 185px;
     text-align: right;
}
.page-a .QRcode img{
  width: 43px;
}
.btn-hover-QRcode:hover{
  opacity: 0.8;

}
.page-footer{
  position: absolute;
  bottom: 10px;
  width: 100%;
}
.page-footer .footer-nav{
  text-align: center;
  padding-bottom: 20px;
}
.page-footer .footer-nav a{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}
.page-footer .footer-p{
  text-align: center;
}
.page-footer .footer-p p{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
}
.page-footer .footer-p a{
   font-size: 15px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}